/* ========== NAVBAR START ============== */
.navbar {
  background: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #912e7d;
  max-height: 40px;
}
.navbar a {
  font-weight: lighter;
  letter-spacing: 1px;
}
