body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  color:#ab3593;
}

a {
  color:#ab3593;
  transition: .2s;
}

a:hover {
  color:#2a0d24;
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* ========== NAVBAR START ============== */
.navbar {
  background: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #912e7d;
  max-height: 40px;
}
.navbar a {
  font-weight: lighter;
  letter-spacing: 1px;
}

/* ========== NAVBAR END ============== */

/* ========== FORM START ============== */

.card-container.card {
  max-width: 350px;
  padding: 40px 40px;
}

.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

/*
* Card component
*/
.card {
  background-color: #F7F7F7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 5px 8px rgba(145, 46, 125, 0.3);
  -webkit-box-shadow: 0px 5px 8px rgba(145, 46, 125, 0.3);
  box-shadow: 0px 5px 8px rgba(145, 46, 125, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/*
* Form styles
*/
.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

.reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin input[type=email]::placeholder,
.form-signin input[type=password]::placeholder,
.form-signin input[type=text]::placeholder {
  color:#a47b9c;
}

.form-signin .form-control:focus {
  border-color: rgba(145, 46, 125);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(145, 46, 125, 0.3),0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(145, 46, 125, 0.3),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
  /*background-color: #4d90fe; */
  background-color: #8e4b80;
  /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33)); */
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
  background-color: #5c3053;
}

/* ========== FORM END ============== */

/* ========== COURSE INDEX START ============== */

.cardCourse {
  margin:10px 20px;
}

/* ========== COURSE INDEX END ============== */


/* ========== TABLES START ============== */
.table th {
  color: #ab3593;
}


.table > tbody > tr > td {
  color:#575396;
  padding: 0;
  vertical-align: middle;
}
/* ========== TABLES END ============== */
