
/* ========== TABLES START ============== */
.table th {
  color: #ab3593;
}


.table > tbody > tr > td {
  color:#575396;
  padding: 0;
  vertical-align: middle;
}
/* ========== TABLES END ============== */
